# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# ========================
# Flask
# ========================
instance/
*.log

# ========================
# Node / Frontend tooling
# ========================
node_modules/
dist/
build/

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Docker
# ========================
*.tar

# ========================
# Kubernetes
# ========================
*.secret.yaml
*.secrets.yaml

# ========================
# Database
# ========================
*.db
*.sqlite3
