apiVersion: apps/v1
kind: Deployment
metadata:
  name: pomodoro-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pomodoro-postgres
  template:
    metadata:
      labels:
        app: pomodoro-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: pgdata
          emptyDir: {} 

---
apiVersion: v1
kind: Service
metadata:
  name: pomodoro-postgres
spec:
  type: ClusterIP
  selector:
    app: pomodoro-postgres
  ports:
    - port: 5432
      targetPort: 5432
